header {
    height: 175px;
    background-color: rgb(225, 200, 186);
 }

 body {
    background-image: url(../images/BACKGROUND.jpg);
    background-size: cover;
 }
#one{
    text-align: center;
 }
 #two{
    text-align: center;
 }
 #three{
    text-align: center;
    margin: 15px;
 }
 h2{
    text-align: center;
    
 }
 #four{
    padding: 10px;
    text-align: justify;
 }
 #five{
    background-color: azure;
 }
 #contact {
    margin-left: 470px;
    margin-top: 20px; 
    display: inline-block; 
    width: 450px; 
    height: 350px; 
    background: rgb(185, 161, 147);
 }
 #DescriptionOfTheTopic {
    display: inline-block;
    margin: 20px; 
    height: 700px; 
    width: 600px;
    background: rgb(185, 161, 147);
 }
 #FutureOfTechnology {
    display: inline-block;
    margin: 20px; 
    height: 810px; 
    width: 600px;
    background: rgb(205, 204, 214);
 }
 #EthicalView {
    margin: 20px; 
    height: 350px; 
    background: rgb(205, 204, 214);
 }
 #EthicalViewh2{
    text-align: left;
    padding: 40px;
 }
 #EthicalViewp{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    float: left;
    width: 600px;
    height: 400px;
 }
 #imgFakeNews{
    float: left;
    margin: 25px;
    
 }
 #Examples {
    margin: 100px; 
    height: 200px; 
    background: rgb(185, 161, 147);
 }
 #KnowMe{
    display: inline-block;
    margin: 20px;  
    width: 400px; 
    height: 450px; 
    background: rgb(185, 161, 147);
 }
 #SocialMedia{
    margin-right: 200px; 
    margin-bottom: 30px;
    margin-left: 20px;
    width: 400px; 
    height: 210px; 
    background: rgb(185, 161, 147);
    display: inline-block;
 }
 #CurriculumVitae{
    margin: 20px;
    margin-top: 100px;
    height: 400px;
    background-color:rgb(185, 161, 147) ;
 }
 #h3 {
    text-align: center;
 }
 td {
    text-align: center;
 }
 th {
    text-align: center;
 }
 #personalwebsite {
    margin-top: 20px; 
    display: inline-block; 
    width: 400px; 
    height: 550px; 
    background: rgb(185, 161, 147);
 }
 #indeximage {
    padding-left: 25px;
 }
 #headerabout {
    height: 350px;
 }
 .headerabout .h1{
    padding-top: 150px;
    text-align: center;
 }
 #imagesabout {
    float: right; 
    margin: 20px; 
    
    margin-right: 200px;
 }
 #h2socialmedia {
    padding: 20px;
 }
 #curriculumexperience {
    float: left; 
    width: 400px;
    height: 400px; 
    margin-left: 75px;
 }
 #curriculumeducation {
    float: left;
    width: 400px;
    height: 400px;
 }
 #imageexperience {
    margin: 20px;
 }
 #curriculumskills {
    float: left;
    width: 400px;
    height: 400px;
 }
 #degree {
    text-align: center; 
    margin: 20px; 
    display: inline-block;
    height: 2100px; 
    width: 97%; 
    background: rgb(185, 161, 147);
 }
 #table1{
    margin-left: 250px;
 }
 #table2{
    margin-left: 330px;
 }
 #table4 {
    margin-left: 355px;
 }
 #table5{
    margin-left: 310px;
 }
 #th1 {
    padding-left: 40px;
 }
 #th2 {
    padding-left: 120px;
 }
 #th4 {
    padding-left: 25px;
 }
 #th3 {
    padding-left: 125px;
 }
 #th5 {
    padding-left: 175px;
 }
 #th6 {
    padding-left: 110px;
 }
 #fundamentals {
    padding-left: 250px;
    padding-right: 250px; 
    text-align: center; 
    margin: 20px; 
    display: inline-block;
    height: 600px; 
    width: 59%; 
    background: rgb(185, 161, 147);
 }
 #textfundamentals {
    padding-top: 50px;
 }
 #imagefundamentals {
    padding-left: 200px;
    padding-right: 250px;
    height: 200px; 
    padding-top: 45px;
 }